<app-header></app-header>
<div style="height: 75px;"></div>

<div class="main-section section" id="Greet">
    <div class="header"><h1>Greet</h1></div>
    <!-- <iframe src="https://www.youtube.com/embed/327d8u8sy5o" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>    -->
    <p>
        Thanks for actually opening the link! This whole thing is just a way for me to get everything off my chest, regardless of whether you read it or not, since I can’t talk to you. 
        Getting over you has been kind of impossible for me since whenever I make any sort of progress towards doing so, the same thoughts keep pulling me back. I keep thinking that moving 
        on would confirm that I never really cared for you and if I just found a way to convey the way I’ve always felt towards you, I’d somehow be able to salvage whatever shit show I've 
        gotten myself into. And if I were to just move on, I’d always look back and hate myself for not trying more while I still could. And that has always been in the form of trying 
        to talk you. And since that’s definitely not happening, I’ll go for the next best thing and just put everything I have to say here and hope that you read it. 
    </p>
</div>
<div class="sub-section section" id="Preface">
    <div class="subheader"><h3>Preface</h3></div>
    <p>
        This was just going to a Google Doc or something, but I felt like it wasn't enough. So since I'm extra af, I made a whole ass website. Do I think this is a good idea? Absolutely not.
        I know I'm crazy and an absolute clown for doing any of this, but atleast I can do things like
        <app-sidenote [text]="'click this pls'" 
                    [title]="'Blue Tag'"
                    [body]="'I wanna keep the main stuff I want you to read concise, so I\'m going to put things that might need more explaining into things highlighted blue. If you don\'t need an explanation or its just too long, you don\'t really have to read it. It looks better without buttons so just click/tap outside to close these.'">
        </app-sidenote> and 
        <app-sidenote [text]="'click this pls'" 
                    [title]="'Green Tag'"
                    [body]="'Things highlighted green will just be random comments I think of while writing this. Not as important as the blue ones. Really don\'t have to read any of these, but they\'re there if you want.'"
                    [info]="false">
        </app-sidenote>. Can I do that in Google Docs? Probably. But 
        I guess it’s more of a symbolic thing for me since in order for me to move on, I think I just need to be able to look back and say that I’ve done all that I could have to clear things 
        up and that there’s literally nothing else that I could have done. And putting in a hundred hours over a few months into the 
        <app-sidenote [text]="'three things I hate most in life'"
                    [title]="'Three things I hate most'"
                    [body]="'1. Writing: Words. Not my thing. 

                            2. Emotions: Comically bad at expressing them. And you typically need words (refer to 1) to do that

                            3. Making websites: Yes I\'ve made a lot of them but don\'t get it twisted. I hate making them. I don\'t even have a personal one. But sadly they\'re a good way to get a message across so here I am.'"></app-sidenote>
        is hopefully enough to show you and me that I really did give it my all and this isn't just some depressive phase I'm in. Also apologies in advance for my terrible writing. It's pretty informal, all over the place, and not grammar/spell checked.
    </p>
</div>
<div class="main-section section" id="The Breakup">
    <div class="header"><h1>The Breakup</h1></div>
    <p>
        I know you aren’t hung up over this, but I feel like a big reason for what got us in this situation was me not being clear about why I broke up with you. With how little I told you, 
        I don’t blame you for assuming it was because I wanted to get with someone that I met in college, didn’t like you enough to go through with long distance, or just lost feelings
        for you. I kind of brought it up before, but it was really because at the time, I somehow convinced myself that you did not genuinely like me. And as happy as I was when I was around you, 
        this constant thought over the course of 2 years destroyed me. 
    </p>
</div>
<div class="sub-section section" id="Relationship Problems">
    <div class="subheader"><h3>Relationship Problems</h3></div>
    <p>
        For context, in high school, I had approximately 
        <app-sidenote [text]="'-h'"
                    [title]="'h'"
                    [body]="'Plus or minus 7. tbh not even sure if this was the thing we did but whatever I’m too lazy to fact check it'"
                    [info]="false">
        </app-sidenote>
        self confidence. I looked like 
        <app-sidenote [text]="'this'"
                    [title]="'disgust'"
                    [image]="'/assets/oldme.jpg'"
                    [info]="false">
        </app-sidenote>
        and was 
        <app-sidenote [text]="'4\' 4&quot;, 60 pounds'"
                    [title]="'smol boi'"
                    [body]="'Well atleast I was before I met you. I hit my first growth spurt like right before I met you so I still had the confidence of a 4\' 4&quot;, 60 pound boi'">
        </app-sidenote>. I had zero people ever like me, had
        <app-sidenote [text]="'zero awards or accomplishments'"
                    [title]="'Zero Awards'"
                    [body]="'Literally none. On my college app where you list your awards. I had nothing to put lmao'">
        </app-sidenote>, and had 
        
        <app-sidenote [text]="'zero close friends'"
                    [title]="'Zero Close Friends'"
                    [body]="'For all of highschool, I didn\'t have any close friends beside you. I was popular in a sense that people knew of me, but outside of school, there wasn\'t a single person I\'d talk to or hangout with besides you. I didn\'t text anyone for anything other than schoolwork. I even made a snapchat for the sole purpose of talking to you and only streaked you. I had the friend group of like Jason and Jeremy, but I had just started getting closer to them right around when I met you. Before that, I didn\'t even have people to eat lunch with. And when we started dating, I just started going to you every break so I never really got close to them. I just hung out with them whenever I felt like I was being to clingy by going over to you so often.'">
        </app-sidenote>. So when you ended up liking me back I was already thinking 
        <app-sidenote [text]="'?!?!?!?!?!?!?'"
                    [title]="'!?!?!?!?!?!?!'"
                    [body]="'Tf is wrong with this girl\'s taste in guys. Do not compute. But ya know I\'m not complaining.'"
                    [info]="false">
        </app-sidenote>
        And because of how little I had going on for myself, you were literally everything to me. My whole life revolved around you. At school, any moment I could come see you, I would.
        After school, I'd only do homework, play games, and text you. Kind of weird given our current circumstances, but as a boyfriend, you can really see how much I enjoyed spending time with you.
    </p>
    <p>
        And this is where the doubts of you liking me started to come in. Everytime I would come to see you, I would always compare how excited I was, to how it appeared you were. For me, seeing
        you was always the highlight of my day. The pure joy I felt whenever I was around you, is something I'll never be able to explain. And on the contrast, whenever I came to you, it seemed like you
        were always more interested in whatever else you were doing or indifferent to whether I was there or not. And regardless of how you did feel when I was around, you can see how it looked
        like you weren't too happy to have me around. And whereas nowadays I'd be able to just shrug it off, a combination of how frequently it happened, 
        <app-sidenote [text]="'others commenting on it'"
                    [title]="'Others Commenting'"
                    [body]="'People would always comment on how whenever I came to you, I would cuddle you and you would kinda not care or just keep doing whatever you were doing. And I would just have to laugh it off and act like I wasn\'t dying inside 🙂 . And so when other people started pointing it out to me too, it was hard for me to brush those moments off'">
        </app-sidenote>, and my non-existent self confidence, made me slowly believe that you didn't truly like me. 
    </p>
    <p>
        And on top of that, our whole situation of never being able to see each other outside of school made everything worse. Like we never get to see each other and you'd still rather spend 
        your time with your friends or whatever else you were doing. This didn't really make me angry. More sad that I didn't make you happy or just wasn't good or entertaining enough to 
        warrant a shift in your attention. 
    </p>
    <p>
        And when it came to going on dates, I grew increasingly frustrated with wanting to see you so badly, but never being able to. I'd always think maybe at our one month anniversary. Maybe at our 6 month. 
        And all the way to 2 years, we never got to a point where we could  consistently see each other outside of school. At first, I was fine with just blaming it on your strict parents, but with each 
        anniversary passing by, it became harder and harder. Just ignoring it and saying there's nothing you can do only lasts so long and I had to direct that anger somewhere.
        So at around the year mark, I started to question whether it was really just your parents. I'd question whether you were really doing all that you could to get us more
        time together, further fueling the idea that you didn't really like me. And then it shifted to me thinking that your parents just don't like me. And honestly, I kind of see why. 
        We already started off badly with that whole drumline Smash thing. And over the 2 years of us dating, 
        <app-sidenote [text]="'I didn\'t talk to them a single time'"
                        [title]="'Not even once'"
                        [body]="'I didn\'t even realize this until writing this lol. At first, I was just shy and you said your parents were really strict so I was kinda scared you know. But as time went on, it became harder and harder to try talking to them since I never had. Also I was so scared I wouldn\'t be good enough for them because of all my previously listed insecurities'">
        </app-sidenote>. And knowing that they didn't like me just reinforced how much I had already hated myself.
    </p>
</div>
<div class="sub-section section" id="Me Becoming Toxic">
    <div class="subheader"><h3>Me Becoming Toxic</h3></div>
        <p>
            At the beginning of my senior year, I really did start to fall apart. For pretty much the entire time we dated, the only thing I wanted in life, was to be able to spend more time
            with you. Every other second, my brain would be like. Wow. I really want to be with Stacy right now. But every time, it would be shut down since there was nothing we could do about 
            it. But over time, it started becoming we can't because I'm not good enough. Her parents just don't like me. She just doesn't like me. So any time I would think of you, which
            was literally always, I keep thinking that me not being good enough was the real reason for why we would never be able to see each other. 
            On top of that, it was college app season and that really made me realize how little I had going for me. So during that time, my self confidence was at an all time low and I
            regretfully ended up taking all that negative energy out on you.
        </p>
        <p>I started getting mad at the 
            <app-sidenote [text]="'stupidest things'"
                [title]="'Oops'"
                [body]="'Like passing out while we were texting or not responding fast enough. Like I did the same shit lol. Was mad about not being able to see you but couldn\'t get mad at you for that since it wasn\'t your fault. So I guess I ended up venting that anger out this way? Regardless, it was stupid.'">
            </app-sidenote>     
            and anytime I look back on those times, I just hate myself for treating someone I cared for like that. Especially the whole 
            <app-sidenote [text]="'Disney thing'"
                            [title]="'Disney'"
                            [body]="'AHHHHHHHHHHH. I HATE MYSELF FOR THIS. I just really wanted to on dates with you and Disney in my 17 year old head was the perfect date location. And so I was already in a shitty mood because my perfect date was being screwed by the SAT test thing and the whole delayed bus thing. And so I just ended up being big baby and taking it out on you. Sad. Sorry :c'">
            </app-sidenote>. But as terrible as I was during that time, I just hope that you don't hold that against me personally since I feel
            like it's clear that I'm not actually like that. I was just super self-conscious at the time and was always scared that you didn't like me and was taking anything you did as confirmation that you 
            didn't. And that whole toxic phase really only lasted for a few months out of the two years we dated. I'd also like to point out that I would never be able to get mad at you in person. Everytime I saw you I would just melt and forget that I was mad.
        </p>
</div>
<div class="sub-section section" id="Actually Breaking Up">
    <div class="subheader"><h3>Actually Breaking Up</h3></div>
    <p>
        During that whole toxic phase, I had already convinced myself that you didn't like me. But once 2nd semester of my senior year came around, I started getting better. I don't know if it was because 
        of not having college apps or not having to try in school, but the doubts I had didn't come up nearly as often. They would occasionally, but I was just so happy and stress free around you
        that I could just ignore them. And when school ended, I remember how sad you looked when I left school for the last 
        time. And with that vision of you as my final interaction with you, I was sure that doing long distance with you would be worth it, even though I knew I wouldn't be able to see you pretty much ever. 
    </p>
    <p> 
        But that all changed when we met one more time before I left for SLO. I didn't really ever tell you about this, but that one interaction was a big reason for me eventually breaking 
        up with you. It had already been a few months 
        since I had seen you and the last time I would before going off to college so it was kind of sentimental for me. And for pretty much the whole time, you were on your phone. And regardless 
        or how you actually felt at that time, you can see how that would make me start to doubt your interest in me. Like this is the last time we get to spend time with each 
        other and this is how you choose to spend it. 
    </p>
    <p>
        And so off to college I went. With that whole experience as my last memory of you. And so every time I thought of you, which again was a lot, I would think about how that one interaction 
        proved that you didn't like me. And it was back to the same self-depricating thoughts of me not being good enough for you. And whereas usually I'd have you there with me at school
        to shut my insecure ass up, all I had was that final memory of you. After a few months of this, I came to the conclusion that you didn't genuinely like me. That you only thought you
        liked me because I was your first boyfriend and eventually, you would 
        <app-sidenote [text]="'realize that you didn\'t really like me'"
                            [title]="'pls no'"
                            [body]="'lmao imagine if I was right the whole time and you could\'ve just told me so I didn\'t have to clown myself thinking that you actually did and saved me 2 years of depression'"
                            [info]="false">
        </app-sidenote>. Beause I knew that I genuinely liked you, and the pure joy I always had
        when I was around you, I rarely saw in you. And because of how little self-confidence I had, this made sense to me. Like there's no way someone that amazing would actually like me so 
        <app-sidenote [text]="'therefore you didn\'t'"
                            [title]="'Flawless Logic'"
                            [body]="'I really be out here playing myself'"
                            [info]="false">. 
        </app-sidenote>
    </p>
    <p>
        And because of all these thoughts of me not being good enough for you, I just started hating myself. The frustration I would have from not being able to see you, and thinking that
        I wasn't good enough had me harming myself. And everyday, I would just be frustrated and mad at myself that I couldn't be what I thought you deserved. And after months of this, I couldn't 
        take it anymore. I was consistently 
        <app-sidenote [text]="'punching things to the point where my hands would get bruised'"
                            [title]="'i no violent i swear'"
                            [body]="'I even broke my PCV dresser door thingy lol. Not an anger thing. Have you ever seen me visibly angry lol. Was a frustration/self hatred thing.'">
        </app-sidenote>. Like why am I going through so much suffering for someone that will eventually lose 
        feelings for me. And I then eventually convinced myself that I had to breakup with you. Even in the slim chance that you really did like me, that whole situation was just so detrimental
        to me both physically and mentally. 
    </p>
    <p>
        So I did it and broke up with you. But how do you tell someone you care about that you're depressed and hurting yourself because of them. I'm already 
        bad at telling people how I feel so I just said it was because of long distance. In my head, I had already told you that I had concerns of you not liking me, and for it to still be 
        happening, there was no point of bringing it up again. 
    </p>
    <p>
        So there you have it. That was why. There has never been a point in the past 5 years where I'd ever lost feelings for you. I didn't do it to just date someone else. And if had just
        been able to convince myself that you really did like me, there's no doubt I would've been able to do long distance with you. But sadly, I couldn't. So I really just self sabotaged myself 
        into ruining a perfectly fine relationship with the girl of my dreams all because 18 year old me was insecure. Fuck.
    </p>
</div>
<div class="main-section section" id="Post-Breakup">
    <div class="header"><h1>Post-Breakup</h1></div>
    <p>
        As much as I hate how our relationship turned out, it's hard to say that I regret breaking up with you. Distancing myself from you for a little allowed me to grow so much as a person. While we
        we were dating, everyday away from you was filled with me telling myself I was trash. And leaving that toxic mentality behind really had a great impact on every aspect of my life. Just
        being more confident in who I was as a person and not being sad boi 24/7 allowed me to make so many friends and grow so much as a person. And I really don't think that I'd been able to accomplish what I have
        if I hadn't taken time away from you. And so it's hard regretting my decision knowing that if I didn't get that space, I would have just continued to be toxic towards you and not become the 
        person that I am today. Ever since breaking up with you, literally everything in my life has been going perfectly. But whether all that personal growth was worth it really depends on
        if I end up losing you forever. 
    </p>
</div>
<div class="sub-section section" id="Not Talking to You">
    <div class="subheader"><h3>Not Talking to You</h3></div>
    <p>
        After breaking up with you, I really didn't know how to act. You were the only person I talked to so what was I supposed to do? I thought it would be weird if the only person I 
        texted was my ex. And when I did text you, I would just be reminded of the fact that I wasn't good enough for you and just be sad. So I ended up just not 
        talking to you. And I can see how it seemed like I cut you off since I stopped talking to you, but I just don't text in general. You were just the exception since we 
        were dating and I wanted to spend time with you since we couldn't meet up in person. 
    </p>
</div>
<div class="sub-section section" id="Dating Someone Else">
    <div class="subheader"><h3>Dating Someone Else</h3></div>
    <p>
        Yeah so this happened. I definitely didn't break up with you to get with them. I was too busy being sad boi before we broke up to really socialize with anyone. 
        Am I proud of this? Definitely not, but it happened. I was immature and trying to get over you. Big regret. They're still one of my closest friends, but it probably
        ruined me for you so not worth.
    </p>
</div>
<div class="sub-section section" id="Reuniting">
    <div class="subheader"><h3>Reuniting</h3></div>
    <p>
        When you asked me to hangout over the summer, I was super confused. I was so used to telling myself you didn't really like me. So why would you be asking me to hang out?
        After months of avoiding thinking of you, I started reflecting on our relationship and why we broke up. I remembered how happy I was when I was with you. Then also how
        deeply depressed I was. And all of these emotions rushing back to me just confused me. I didn't know what I was feeling. After meeting
        up with you, it was clear to me that I still had feelings for you, but at the same time, I was scared of going through those dark times again. And I just didn't have enough
        time to process all of that and talk to you before going off to SLO again. Also, 
        <app-sidenote [text]="'thing about me not responding'"
            [title]="'Oops'"
            [body]="'I still look back and think that this small thing probably led to you thinking I don\'t care about you. I remember after the last time we met up, we snapchatted for a little bit and to be quite honest. It was all too much for me. You sent your cute ass face and all the confusing emotions of me still having feelings for you and me telling myself that I shouldn\'t go back to hating myself. And after all that emotional confusion I didn\'t know what to do and ended up not responding lol. Great choice Michael.'">
        </app-sidenote>.

</div>
<div class="sub-section section" id="Trying to Date Again">
    <div class="subheader"><h3>Trying to Date Again</h3></div>
    <p>
        After meeting up with you, I couldn't stop thinking about our whole situation. And since I was no longer self-conscious about anything, I could see how crazy I was being 
        by breaking up with you. And although I was still scared of how I would be able to handle not being able to see you, I was more scared that I'd never be able to 
        be with you again. I couldn't just expect you to be there waiting for me until I was ready. And if you I never got a chance to try again, I knew I wouldn't be able to live
        with myself. And so I messaged you in like October, 2018 if you were free, ready to tell you how I felt. And when you weren't, instead of being the smart person and just,
        calling or texting you how I felt, I was big dumb and just said 
        <app-sidenote [text]="'Ripp. Sad. Next time ☹️'"
                        [title]="'☹️'"
                        [body]="'I really be that dumb huh.'"
                        [info]="false">
        </app-sidenote>. Everything I'm saying now, I could have just told you 2 years ago, but I was so set on 
        <app-sidenote [text]="'having it in person'"
                      [title]="'Texting Scary'"
                      [body]="'I\'m bad at texting and writing so I\'d rather do things in person. Easier to read the person and what not. It was a pretty important conversation to be had, so I didn\'t want to fuck it up. Ended up fucking it up more than I could ever imagine🙃'">
        </app-sidenote>, that I ended 
        up never getting to. 
    </p>
</div>
<div class="sub-section section" id="Descent Into Madness">
    <div class="subheader"><h3>Descent Into Madness</h3></div>
    <p>
        When you started ignoring me I kinda just went crazy. I had all those stored up emotions from before, and needed to talk to you but just never could. And when you
        started to be cold towards me, I was just so confused. Here I was, ready to pour my heart out to you, and instead I'm met with you ignoring me completely out of the
        blue from my point of view. Ashamed at how crazy I went, but also not surprised. Was kinda rough going through all that.
    </p>
</div>
<div class="main-section section" id="Now">
    <div class="header"><h1>Now</h1></div>
    <p>
        All you've told me is that you've lost feelings for me and not any specific reason why. And if I'm trying to get closure, not having a specific reason isn't very helpful.
        And why it's been so hard to let go is I feel like you lost feelings because of some disconnect or misunderstanding. Because if you knew how much you meant to me and how
        I felt throughout this whole process, it wouldn't make sense for you to be as cold as you've been. And if the reason for you lost feelings isn't true, is that really fair? 
        And since you won't tell me what's going on, I've taken the stance of believing that you 
        don't believe me or think that there's some ulterior motive for me wanting to get back with you. Everything before this section hopefully covered the first part, so the following sections 
        hopefully address all the potential ulterior motives you might think I’m doing this. 
    </p>
</div>
<div class="sub-section section" id="Because I'm Depressed">
    <div class="subheader"><h3>Because I'm Depressed</h3></div>
    <p>
        There is literally 0 reason for me to be depressed. I’m so lucky to say that, other than this whole situation going on, my life is literally 
        perfect and I wouldn’t change a single thing about it. Social life wise, I’m the most popular I’ve ever been and more importantly, my friend group is the 
        fucking best. Career wise, I have my dream job, working at my dream company, making nearly $200,000 a year doing what I do for fun anyways. Family wise, I’m
        super close to everyone in my family and my parents 
        <app-sidenote [text]="'brag about me to everyone.'"
                        [title]="'?!?!?!?!'"
                        [body]="'Asian parents actually proud?!?!? What a concept. Feel bad for my cousins since I\'m now \'that cousin\', but eh. My parents have shit on me my whole life and I definitely prefer this.'"
                        [info]="false">
        </app-sidenote>
        So I’m at the prime of my life with zero reason to be 
        sad, yet here I am. Big s a d b o i. And if you can think of another reason other than losing you as the cause I’m all ears.  
    </p>
</div>
<div class="sub-section section" id="Because It's Convenient">
    <div class="subheader"><h3>Because It's Convenient</h3></div>
    <p>
        That one time we called, you said that I only wanted to date you or talk to you when it was convenient for me. But idk man, doing all this isn't
        the most convenient thing if you ask me. This was a while ago though so I don't know if you still think this.
    </p>
</div>
<div class="sub-section section" id="Only Care When I Want to Date You">
    <div class="subheader"><h3>Only Care When I Want to Date You</h3></div>
    <p>
        You also brought this one up when we called and I didn't really know what to say at the time. I was like shit. Is that true? But that's cause you phrased it
        as me only talking to you when I wanted to date you. Which is technically true, but isn't actually that bad. I just don't text people when there's no reason to.
        This is how all of my friends interact with each other. We just don't text because there's no reason to. Just 
        save all the talking for when we're in person. Like this isn't uncommon behavior. I haven't texted my best friend in like months now. Does that mean I don't 
        care about them? Obviously not. And the same applied to you. I never talked to you or anything, but don't think for a second that I wouldn't have done anything for you.
        And I know that I can just be saying that, but I never really got a chance to prove it.
    </p>
    <p>
        Also is it bad that I want to date you? I like you a lot and know that our relationship was good so I want to date you? It's not like if you rejected me I would all of a sudden not care 
        about you and hate on you. And I feel like I've shown that. That's literally what's been going on. I'm being kind of persistent with it, but only because 
        I haven't been able to get closure since you've been so reluctant to talk to me. 
    </p>
</div>
<div class="sub-section section" id="Because I'm Lonely">
    <div class="subheader"><h3>Because I'm Lonely</h3></div>
    <p>
        This is the common cliché when an ex wants to get back together so I get why everyone would assume this, but no. I've turned down multiple people solely because
        I still have feelings for you. And if I were just lonely, I can think of plenty of easier ways to fill that void than doing all of this. 
    </p>
</div>
<div class="sub-section section" id="Didn't Realize What I Had">
    <div class="subheader"><h3>Didn't Realize What I Had</h3></div>
    <p>
        Some variation of this or me realizing I can't do any better than you. I hope that my reasoning for breaking up with you covers this? I knew what I had when I broke up
        with you and that I wasn't going to get any better, I was just dumb and thought you didn't actually like me and would eventually leave me. Peak insecurity. Big dumb.
    </p>
</div>
<div class="sub-section section" id="Because I'm Crazy">
    <div class="subheader"><h3>Because I'm Crazy</h3></div>
    <p>
        Lmao trueeeeee
    </p>
</div>

<div class="main-section section" id="Fuckboi?">
    <div class="header"><h1>Fuckboi?</h1></div>
    <p>
        Wanted to include this but not really a section to put it in so it gets its own I guess.
        For some reason I feel like you think that I've changed in college. Other than having self-confidence, I'm essentially the same person. I'm the same wholesome dork that's
        fueled by hot pot and boba. I 
        <app-sidenote [text]="'didn\t become some fuckboi or anything'"
            [title]="'Basic'"
            [body]="'I know I got the hair for it, but nowadays every Asian male does😂'"
            [info]="false">
        </app-sidenote>. I frickin code, play with Rubik's cubes, and play board games in my free time. I'm like the most wholesome
        person out of 
        <app-sidenote [text]="'all of my friends'"
                      [title]="'David'"
                      [body]="'Except for David ok, but is anyone really? That boi too precious'"
                      [info]="false">
        </app-sidenote>. 
        <app-sidenote [text]="'The only first I\'ve had in college is drinking'"
                    [title]="'🤭'"
                    [body]="'Yes this is a euphemism for I haven\'t had sex and dont do and drugs, but that felt too scandalous straight up saying so here it be.'"
                    [info]="false">
        </app-sidenote>. I mean I don't know if you actually think I am a fuckboi, but just a concern I wanted to bring up.
    </p>
</div>
<div class="main-secion section" id="Farewell">
    <div class="header"><h1>Farewell</h1></div>
    <p>
        You can see the drop of in quality in so many of these sections lol. I've been working on this for the past like 20 hours and it's the final day so it is what it is.
        Wanted to include something a bit more sentimental than just a wall of text so have a watch! I've got bags and am breaking out from all the coffee I've been drinking but
        ya know, better than  
        <app-sidenote [text]="'this'"
            [title]="'disgust'"
            [image]="'/assets/oldme.jpg'"
            [info]="false">
        </app-sidenote>
    </p>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/327d8u8sy5o" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
<div style="height: 50vh;"></div>
<router-outlet></router-outlet>