.section {
    text-align: justify;
    margin: auto;
    padding: 0px 24px;
    max-width: 800px;
    font-size: 20px;
}

.section .header {
    padding-top: 24px;
}

.section p {
    text-indent: 40px;
    line-height: 28px;
}

iframe {
    width: min(800px, calc(100vw - 48px));
    height: min(450px, calc((100vw - 48px) / 16 * 9));
    padding-bottom: 10px;
}