<div [ngClass]="{'side-menu-container': true, 'open': this.opened}">
    <div class="side-menu-header"><h2>Outline</h2></div>
    <div class="outline">
        <app-outline-section [label]="'Greet'" [selected]='true' (clickEvent)="changeSection()" #outlineSection></app-outline-section>
        <app-outline-section [label]="'Preface'" (clickEvent)="changeSection()" #outlineSection></app-outline-section>
        <app-outline-section [label]="'The Breakup'" (clickEvent)="changeSection()" #outlineSection></app-outline-section>
        <app-outline-section [label]="'Relationship Problems'" (clickEvent)="changeSection()" #outlineSection></app-outline-section>
        <app-outline-section [label]="'Me Becoming Toxic'" (clickEvent)="changeSection()" #outlineSection></app-outline-section>
        <app-outline-section [label]="'Actually Breaking Up'" (clickEvent)="changeSection()" #outlineSection></app-outline-section>
        <app-outline-section [label]="'Post-Breakup'" (clickEvent)="changeSection()" #outlineSection></app-outline-section>
        <app-outline-section [label]="'Not Talking to You'" (clickEvent)="changeSection()" #outlineSection></app-outline-section>
        <app-outline-section [label]="'Dating Someone Else'" (clickEvent)="changeSection()" #outlineSection></app-outline-section>
        <app-outline-section [label]="'Reuniting'" (clickEvent)="changeSection()" #outlineSection></app-outline-section>
        <app-outline-section [label]="'Trying to Date Again'" (clickEvent)="changeSection()" #outlineSection></app-outline-section>
        <app-outline-section [label]="'Descent Into Madness'" (clickEvent)="changeSection()" #outlineSection></app-outline-section>
        <app-outline-section [label]="'Now'" (clickEvent)="changeSection()" #outlineSection></app-outline-section>
        <app-outline-section [label]="'Because I\'m Depressed'" (clickEvent)="changeSection()" #outlineSection></app-outline-section>
        <app-outline-section [label]="'Because It\'s Convenient'" (clickEvent)="changeSection()" #outlineSection></app-outline-section>
        <app-outline-section [label]="'Only Care When I Want to Date You'" (clickEvent)="changeSection()" #outlineSection></app-outline-section>
        <app-outline-section [label]="'Because I\'m Lonely'" (clickEvent)="changeSection()" #outlineSection></app-outline-section>
        <app-outline-section [label]="'Didn\'t Realize What I Had'" (clickEvent)="changeSection()" #outlineSection></app-outline-section>
        <app-outline-section [label]="'Because I\'m Crazy'" (clickEvent)="changeSection()" #outlineSection></app-outline-section>
        <app-outline-section [label]="'Fuckboi?'" (clickEvent)="changeSection()" #outlineSection></app-outline-section>
        <app-outline-section [label]="'Farewell'" (clickEvent)="changeSection()" #outlineSection></app-outline-section>
        
    </div>
</div>